.main-content h1,h2,h3,h4, a {
    color: #FFFB1D;
}

.main-content a {
    text-decoration: none;
}

.main-content a:hover {
    text-decoration: underline;
    color: #FFFB1D;
}

.splash-home {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;

    height: 2in;
}

.splash-title {
    font-family: "Computer Modern Serif", serif;
}

.socials li{
    list-style-type: none;
    padding-left: 15px;
}

.socials ul, li{
    display:inline-block;
}

.socials ul {
      padding-left: 0;
}

#leftshowcase span {
    background: #FFFB1D;
    color: black;
    border-radius: 5px;
    text-align: left;
    font-size: 30pt;
    padding: 10px;
}

#leftshowcase {
    padding-top: 50px;
}

.btn {
    background: #FFFB1D;
}

.btn:hover {
    background: #FFFB1D;
}
